# {{ ansible_managed }}
---
version: "3.5"

services:
  home-assistant:
    container_name: home-assistant
    image: homeassistant/home-assistant:latest
    volumes:
      - /home/pi/home-assistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    environment:
      - TZ='{{ container_timezone }}'
    network_mode: host
    restart: unless-stopped
    healthcheck:
      test: "curl -Lf http://localhost:8123"
      start_period: 6m
      timeout: 15s
      interval: 30s
      retries: 3